.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}

body {
    line-height: 2em;
    letter-spacing: 2px;
}


h1 {
    font-family: "Super Smash 4.1";
    color: #000;
}

p{
    font-weight: 700;
}

.copyright {
    color: #252525;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
}

/* CHARACTER CARD */

.character--card{
    display: grid;
    margin: 0 auto;
}

.character-image{
    order: 0;
    margin: auto;  
    width: 30%;
}

.character-name{
    order: 1;
}

.body {
    background-color: #ffffff;
    background-image: url("./ultimate_background.jpg");
}

.main-title{
    margin: 0;
    color: white;
}

.character-series{
     order: 2; 
}

.character-desc{
    order: 3;
}

.go-back-link{
    color: black;
    list-style: none;
    display: flex;
    margin-left: auto;
    padding: 1em;
}
a{
    color: black;
}
nav {
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 4rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}

nav a{
    text-decoration: none;

}